.searchresults, .searchresults_product {
	width: 250px;
	background-color: #FFF;
	position: absolute;
	border: 1px solid #CCC;
}

.si {
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	cursor: pointer;
}
.si a {
	color: #000;
	text-decoration: none;
	display: block;
}
.si:hover {
	background-color: #EEE;
}