.searchresults, 
.searchresults_product {
	width: 250px;
	background-color: #FFF;
	position: absolute;
	border: 1px solid #CCC;
}

.si,
.searchitemproduct, 
.searchitemclient {
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	cursor: pointer;
}

.si a,
.searchitemproduct a, 
.searchitemclient a {
	color: #000;
	text-decoration: none;
	display: block;
}

.si:hover,
.searchitemproduct:hover, 
.searchitemclient:hover {
	background-color: #EEE;
}

.p_qtd {
	width: 50px;
}